// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card {
  &__container {
    &--service-light {
      background: $service-light-color;
      color: $original-darker-text;
    }
  }

  &__twitter-share-btn {
    opacity: 1;
  }

  &__text {
    color: $original-darker-text;
  }

  &__review-symbol {
    &--good {
    }

    &--bad {
      padding-left: 2px;
      padding-right: 2px;
    }
  }
}

.book-thumbnail {
  position: relative;

  &__avatar {
    position: absolute;
    top: 20%;
    left: 47%;
    width: 6%;
    border-radius: 50%;
    @media (max-width: 767px) {
      left: 44%;
      width: 12%;
    }
  }

  &__title {
    position: absolute;
    width: 40%;
    top: 46%;
    left: 30%;
    display: block;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 26px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @media (max-width: 991px) {
      font-size: 18px;
      width: 36%;
      left: 32%;
    }
    @media (max-width: 767px) {
      font-size: 20px;
      width: 76%;
      left: 12%;
    }
  }

  &__text {
    position: absolute;
    display: block;
    color: black;
    font-size: 16px;
    left: 32%;
    width: 38%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @media (max-width: 991px) {
      font-size: 12px;
    }
    @media (max-width: 767px) {
      left: 14%;
      width: 74%;
      font-size: 12px;
    }

    &--first {
      top: 70%;
    }

    &--second {
      top: 83%;
    }
  }
}
