// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.review-form {
  overflow: hidden;

  &__container {
    background: $original-light-gray;
  }

  &__label {
    padding-top: 8px;
    padding-left: 15px;
    margin-bottom: 5px;
    font-weight: bold;

    &--good {
      color: $original-good-pink;
    }

    &--bad {
      color: $original-bad-blue;
    }
  }
}

.review-send {
  position: relative;
  height: 40px;

  &__button {
    position: absolute;
    top: 50%;
    -webkit-transform : translateY(-50%);
    transform : translateY(-50%);
  }
}

.review-edit-table {
  &__thead {
    font-size: 14px !important;
    @media (max-width: 767px) {
      font-size: 12px !important;
    }
    font-weight: bold !important;
    background: #E6E5E5;

    &--delete {
      width: 48px;
      padding-right: 8px !important;
      padding-left: 4px !important;
      text-align: center;
    }
  }

  &__tbody {
    font-weight: bold;

    &--delete {
      width: 48px;
      padding-right: 8px !important;
      padding-left: 4px !important;
      text-align: center;
    }
  }
}
