// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.review-form {
  overflow: hidden;

  &__container {
    &--good {
      background: $good-pink;
    }

    &--bad {
      background: $bad-blue;
    }
  }

  &__label {
    padding-top: 8px;
    padding-left: 15px;
    margin-bottom: 5px;
    font-weight: bold;
  }

  &__note {
    text-align: right;
    padding-right: 15px;
    padding-bottom: 0.25rem;
  }
}

.review-send {
  position: relative;
  height: 40px;

  &__button {
    position: absolute;
    top: 50%;
    -webkit-transform : translateY(-50%);
    transform : translateY(-50%);
  }
}

.review-table {
  %__thead {
    font-size: 14px;
    @media (max-width: 767px) {
      font-size: 12px;
    }
    font-weight: bold;
    background: #E6E5E5;
  }

  %--comment {
    width: 64px;
    padding-right: 4px !important;
    padding-left: 4px !important;
    text-align: center;
  }

  %--delete {
    width: 48px;
    padding-right: 8px !important;
    padding-left: 4px !important;
    text-align: center;
  }

  &__thead {
    @extend %__thead;

    &--comment {
      @extend %__thead;
      @extend %--comment;
    }

    &--delete {
      @extend %__thead;
      @extend %--delete;
    }
  }

  &__tbody {
    &--comment {
      @extend %--comment;
    }

    &--delete {
      @extend %--delete;
    }
  }
}
