<div id="bottom-navbar">
  <nav class="navbar fixed-bottom navbar-light border-top pt-2 pb-3">
    <div class="container">
      <div class="col-4 text-center">
        <%= active_link_to root_path, class: "bottom-nav-link", :active => [['home'], ['top']] do %>
          <i class="fas fa-home fa-lg"></i><br>
          <small>ホーム</small>
        <% end %>
      </div>
      <div class="col-4 text-center">
        <%= active_link_to home_test1_path, class: "bottom-nav-link" do %>
          <i class="fas fa-box-open fa-lg"></i><br>
          <small>新着の評定</small>
        <% end %>
      </div>
      <div class="col-4 text-center">
        <%= active_link_to home_test2_path, class: "bottom-nav-link" do %>
          <i class="fas fa-users fa-lg"></i><br>
          <small>友達の通信簿</small>
        <% end %>
      </div>
    </div>
  </nav>
</div>
