<footer>
  <ul class="nav justify-content-center pt-3">
    <li class="nav-item">
      <%= link_to "利用規約", "#", class: "nav-link text-secondary" %>
    </li>
    <li class="nav-item">
      <%= link_to "プライバシーポリシー", "#", class: "nav-link text-secondary" %>
    </li>
    <li class="nav-item">
      <%= link_to "公式Twitter", "#", class: "nav-link text-secondary" %>
    </li>
  </ul>
  <div class="text-center text-secondary mt-4">
    <small>
      <i class="far fa-copyright mr-2"></i>2019 みんなの通信簿運営団体
    </small>
  </div>
</footer>
