<div class="modal fade" id="requireLoginModal" tabindex="-1" role="dialog" aria-labelledby="requireLoginModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title modal__title" id="requireLoginModalLabel">
          登録 / ログインしましょう！
        </h2>
      </div>
      <div class="modal-body text-center">
        <%= link_to "TOPページへ", root_path, class: "btn btn-info btn-block"  %>
        <button type="button" class="btn btn-default btn-link mt-3" data-dismiss="modal">
          閉じる
        </button>
      </div>
    </div>
  </div>
</div>
