<% if user_signed_in? %>
  <%= current_user.name %>
  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "ツイッターでログイン！", omniauth_authorize_path(:user, :twitter), class: "btn btn-twitter" %><br />
<% end %>

<p>みんなの通信簿<br>みんなの通信簿<br>みんなの通信簿<br>みんなの通信簿</p>
<p>みんなの通信簿<br>みんなの通信簿<br>みんなの通信簿<br>みんなの通信簿</p>
<p>みんなの通信簿<br>みんなの通信簿<br>みんなの通信簿<br>みんなの通信簿</p>
<p>みんなの通信簿！！<br>みんなの通信簿！！<br>みんなの通信簿！！<br>みんなの通信簿！！</p>
<p>みんなの通信簿<br>みんなの通信簿<br>みんなの通信簿<br>みんなの通信簿</p>
<p>みんなの通信簿<br>みんなの通信簿<br>みんなの通信簿<br>みんなの通信簿</p>
<p>みんなの通信簿<br>みんなの通信簿<br>みんなの通信簿<br>みんなの通信簿</p>
<p>みんなの通信簿！！<br>みんなの通信簿！！<br>みんなの通信簿！！<br>みんなの通信簿！！</p>
<p>みんなの通信簿<br>みんなの通信簿<br>みんなの通信簿<br>みんなの通信簿</p>
<p>みんなの通信簿<br>みんなの通信簿<br>みんなの通信簿<br>みんなの通信簿</p>
<p>みんなの通信簿<br>みんなの通信簿<br>みんなの通信簿<br>みんなの通信簿</p>
<p>みんなの通信簿！！<br>みんなの通信簿！！<br>みんなの通信簿！！<br>みんなの通信簿！！</p>
<p>みんなの通信簿<br>みんなの通信簿<br>みんなの通信簿<br>みんなの通信簿</p>
<p>みんなの通信簿<br>みんなの通信簿<br>みんなの通信簿<br>みんなの通信簿</p>
<p>みんなの通信簿<br>みんなの通信簿<br>みんなの通信簿<br>みんなの通信簿</p>
<p>みんなの通信簿！！<br>みんなの通信簿！！<br>みんなの通信簿！！<br>みんなの通信簿！！</p>
<p>みんなの通信簿<br>みんなの通信簿<br>みんなの通信簿<br>みんなの通信簿</p>
<p>みんなの通信簿<br>みんなの通信簿<br>みんなの通信簿<br>みんなの通信簿</p>
<p>みんなの通信簿<br>みんなの通信簿<br>みんなの通信簿<br>みんなの通信簿</p>
<p>みんなの通信簿！！<br>みんなの通信簿！！<br>みんなの通信簿！！<br>みんなの通信簿！！</p>
<p>みんなの通信簿<br>みんなの通信簿<br>みんなの通信簿<br>みんなの通信簿</p>
<p>みんなの通信簿<br>みんなの通信簿<br>みんなの通信簿<br>みんなの通信簿</p>
<p>みんなの通信簿<br>みんなの通信簿<br>みんなの通信簿<br>みんなの通信簿</p>
<p>みんなの通信簿！！<br>みんなの通信簿！！<br>みんなの通信簿！！<br>みんなの通信簿！！</p>
<p>みんなの通信簿<br>みんなの通信簿<br>みんなの通信簿<br>みんなの通信簿</p>
<p>みんなの通信簿<br>みんなの通信簿<br>みんなの通信簿<br>みんなの通信簿</p>
<p>みんなの通信簿<br>みんなの通信簿<br>みんなの通信簿<br>みんなの通信簿</p>
<p>みんなの通信簿！！<br>みんなの通信簿！！<br>みんなの通信簿！！<br>みんなの通信簿！！</p>
<p>みんなの通信簿<br>みんなの通信簿<br>みんなの通信簿<br>みんなの通信簿</p>
<p>みんなの通信簿<br>みんなの通信簿<br>みんなの通信簿<br>みんなの通信簿</p>
<p>みんなの通信簿<br>みんなの通信簿<br>みんなの通信簿<br>みんなの通信簿</p>
<p>みんなの通信簿！！<br>みんなの通信簿！！<br>みんなの通信簿！！<br>みんなの通信簿！！</p>
<p>みんなの通信簿<br>みんなの通信簿<br>みんなの通信簿<br>みんなの通信簿</p>
<p>みんなの通信簿<br>みんなの通信簿<br>みんなの通信簿<br>みんなの通信簿</p>
<p>みんなの通信簿<br>みんなの通信簿<br>みんなの通信簿<br>みんなの通信簿</p>
<p>みんなの通信簿！！<br>みんなの通信簿！！<br>みんなの通信簿！！<br>みんなの通信簿！！</p>
