<div class="container">
  <section class="page-heading mb-4">
    <h1 class="page-heading__title">
      新着の評定
    </h1>
  </section>
  <section class="page-section mb-4">
    <div class="mb-3">
      <p class="page-section__text">
        承認した評定のみが公開されます。<br>ちょっと親に見られたくない評定は、こっそり消しちゃいましょう...！
      </p>
    </div>
    <!-- BEGIN:review_table -->
    <%= render partial: "books/review_check_table", locals: {reviews: @unchecked_reviews} %>
    <!-- END:review_table -->
    <% if @unchecked_reviews.present? %>
      <div class="text-center">
        <button type="button" class="btn btn-info btn-round btn-lg" data-toggle="modal" data-target="#afterApproveModal">
          まとめて承認
        </button>
      </div>
    <% end %>
  </section>
</div>

<!-- BEGIN:Modal -->
<div class="modal fade" id="afterApproveModal" tabindex="-1" role="dialog" aria-labelledby="afterApproveModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteConfirmationModalLabel">選択</h5>
      </div>
      <div class="modal-body">
        <p class="text-center mb-4">
          結果をシェアして、さらに評定を記入してもらおう！
        </p>
        <%= link_to "今回承認分をTwitterでシェア！", "#", class: "btn btn-twitter btn-sm btn-block mb-3" %>
        <%= link_to "シェアせずに承認する", book_path(@book), class: "btn btn-default btn-sm btn-block mb-3", method: :put %>
        <button type="button" class="btn btn-default btn-link btn-block" data-dismiss="modal">戻る</button>
      </div>
    </div>
  </div>
</div>
<!-- END:Modal -->
