<section class="page-heading mb-4">
  <h1 class="page-heading__title">
    <%= @book.user.name %>さんの通信簿編集
  </h1>
</section>
<section class="page-section mb-5">
  <div class="mb-3">
    <p class="page-section__text">
      一度承認した評価に対してコメント / 削除ができます。
    </p>
  </div>

  <%= render partial: "books/review_edit_table", locals: { reviews: @checked_reviews } %>
</section>
