.bottom-navbar {
  &__link {
    color: gray;
    position: relative;

    &:hover,
    &:active,
    &:focus,
    &.active {
      color: $service-color;
    }
  }

  &__notification {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -6px;
    left: 24px;
    border-radius: 50%;
    background-color: $danger-color;
    color: #fff;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    font-weight: bold;
  }
}

.top-navbar {
  &__avatar {
    width: 36px;
    @media (min-width: 992px) {
      width: 44px;
    }
    border-radius: 50%;
  }

  &__service-image {
    width: 210px;
  }
}
