#bottom-navbar .bottom-nav-link {
  color: gray;

  &.active {
    color: $info-color;
  }
}

.top-navbar {
  &__avatar {
    width: 36px;
    @media (min-width: 992px) {
      width: 44px;
    }
    border-radius: 50%;
  }

  &__service-image {
    width: 210px;
  }
}
