@media (max-width: 575px) {
  .sp-cancel-p-container {
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
  }
}

.bg-menu {
  background: #444444 !important;
}

.bg-blackboard {
  background: rgb(38,68,43) !important;
}
