// spサイズ時に、画面の右に空白ができ、横のスクロールができてしまうことを防ぐため
.container {
  overflow: hidden;
}

// spサイズ時に、containerのpaddingを超えて全幅表示したいとき
@media (max-width: 575px) {
  .sp-full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
}

.section-menu {
  background: #444444 !important;
  font-weight: bold;
  color: #ffffff;
  padding: 8px 15px;
}

.bg-blackboard {
  background: rgb(38,68,43) !important;
}

// iosで、input入力時にズームするのを防ぐため
input[type=text] {
  font-size: 16px;
}
